

.header {
    display: flex;
    justify-content: space-between;
    width: 1052px;
    height: 105px;
    margin: auto;
    padding: 0;
    margin-top: 92px;
}
.header__links-list{
    display: flex;
    gap: 30px;
    list-style-type: circle ;
}
.header__logo {
    background-image: url("../images/logo-black.svg");
    background-repeat: no-repeat;
    height: 105px;
    width: 148px;
}
.header__address{
}

.div {
    width: 392px;
    height: 22px;
}
.header__links-list-item{
    margin-top: 0px;
}
